/****************************
general
****************************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: "PT Sans", sans-serif; 
}
img{
    max-width:100%;
}
button{
    border-radius: 15px;
    letter-spacing: 0.2rem;
    padding: 5px;
    background-color: white;
}
a{
    margin: 10px;
}
p{
    padding: 10px;
}
.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    position: relative;
}
/****************************
debug
****************************/
*{
    outline: 1px solid red;
}
/****************************
all color
****************************/
button{
    background-color: white;
}
header ,
app-store {
    background-color:rgb(0, 132, 253) ;
    color: white;
}
h3, 
.fa-file-code,
.fa-compass-drafting,
.fa-laptop-code,
.fa-bullhorn{
    color: rgb(0, 132, 253);
}
a{
    color: white;
    text-decoration: none;
}
.azzurro{
    border-radius: 50px;
    background-color: rgb(181, 221, 255);
}
.purple,
.bcg-freccia,
.bgc-card{
    background-color: rgb(151, 146, 228);
}
h1,
.purple > p,
.bgc-card > p,
.bcg-white,
.virgolette,
.name-card{
    color: white;
}
/****************************
header
****************************/

.hamburger-menu{
    position: absolute;
    top: 50%;
    right: 0 ;
    transform: translate(0, -50%);
}
.logo{
    padding: 5px 0;
}
.fa-bars{
    font-size: 2rem;
}

/****************************
main
****************************/
/****************************
first section
****************************/
section{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}
.fa-apple{
    font-size: 1.5em;
}
.demo-application{
    margin: 20px 0;
    display: flex;
}
.fa-file-code,
.fa-compass-drafting,
.fa-laptop-code,
.fa-bullhorn{
    font-size: 80px;
    padding: 20px;
}

.info{
    margin: 20px 10px;
}
.left,
.right
{
    width:calc(50% - 40px);
}
section .azzurro:first-child{
    width: 65%;
    margin: 20px 0;
}
/****************************
second section
****************************/
h1{
    font-size: 50px;
}
.bcg-white{
    width: 80%;
    margin: auto;
    border-radius: 50px;
}
.freccia{
    font-size: 2rem;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.bcg-freccia{
    width: 80px; 
    height: 80px;
    margin: 0 auto;
    border-radius: 50%;
    position: relative;
}
/****************************
3rd section
****************************/
h2{
    font-size: 2em;
}
.bgc-card{
    width:80%;
    margin: 0 auto;
    border-radius: 50px;
    margin-bottom:20px;
}
.t1{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.virgolette{
    font-size: 2rem;
}
.name-card{
    padding: 10px 0;
}
/****************************
media query
****************************/
/****************************
pc
****************************/
@media screen and (min-width: 640px){
    
    .hamburger{
        display: none;
    }
    
    .info{
        width: 30%;
        display: inline-block;
    }
    .container60{
        width: 60%;
        margin: 0 auto;
        position: relative;
    }
    .container60 > .right{
        margin: 0 auto;
        position: absolute;
        bottom: 0;
        right: 50px;
    }
    .bgc-card{
        display: flex;
    }
    .name-card{
        display: block;
    }
    section{
        display:block;
    }
}
/****************************
mobile
****************************/
@media screen and (max-width: 640px){
    
    .menu{
        display: none;
        }
   
    section .azzurro:first-child{
            width: 100%;
            margin: 20px 0;
        }
    .demo-application{
            display: inline-block;
            width: 100%;
        }
    .left,
    .right
        {
            width:100%;
        }
}
